<!DOCTYPE html>
<html>
<head>
    <title>Smart Waste Classification System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<script>
document.getElementById("fileInput").addEventListener("change", function(event) {
    const file = event.target.files[0];
    const preview = document.getElementById("previewImage");

    if (file) {
        preview.src = URL.createObjectURL(file);
        preview.style.display = "block";
    }
});
</script>

<script>
let video = document.getElementById("video");

function startCamera() {
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            video.srcObject = stream;
        });
}

function captureImage() {
    let canvas = document.getElementById("canvas");
    let context = canvas.getContext("2d");

    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    context.drawImage(video, 0, 0);

    let imageData = canvas.toDataURL("image/png");

    fetch("/predict_camera", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ image: imageData })
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("cameraResult").innerText =
            "Detected: " + data.prediction;
    });
}
</script>
<body>

<div class="navbar">
    <h2><i class="fas fa-recycle"></i> Smart Waste System</h2>
    <div>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>

<div class="main">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h3>Menu</h3>
        <a href="/dashboard"><i class="fas fa-home"></i> Dashboard</a>
        <a href="/about"><i class="fas fa-info-circle"></i> About</a>
        <h2><i class="fas fa-phone"></i> Contact Us</h2>
    </div>

    <!-- CONTENT -->
    <div class="content">

    <!-- DASHBOARD CARDS -->
    <div class="cards">

        <div class="card small">
            <h3><i class="fas fa-trash"></i> Total Scans</h3>
            <p>12</p>
        </div>

        <div class="card small">
            <h3><i class="fas fa-recycle"></i> Last Result</h3>
            <p>{{ prediction if prediction else "None" }}</p>
        </div>

        <div class="card small">
            <h3><i class="fas fa-chart-line"></i> Accuracy</h3>
            <p>63%</p>
        </div>

    </div>

    <!-- MAIN DETECTION CARD -->
    <div class="card main-card">
        <h2><i class="fas fa-camera"></i> Detect Waste</h2>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput" required>

<div class="preview">
    <img id="previewImage" style="display:none;">
</div>
            <button type="submit">
                <i class="fas fa-search"></i> Detect Waste
            </button>
        </form>
        <hr>

<h3><i class="fas fa-video"></i> Live Camera</h3>

<video id="video" width="300" autoplay></video>
<br><br>

<button onclick="startCamera()">Start Camera</button>
<button onclick="captureImage()">Capture</button>

<canvas id="canvas" style="display:none;"></canvas>

<p id="cameraResult"></p>

        {% if image_path %}
            <img src="{{ image_path }}" width="200">
        {% endif %}

        {% if prediction %}
<div class="result-box">
    <p>♻ Detected: {{ prediction }}</p>
    <p>Confidence: {{ confidence }}%</p>
</div>
{% endif %}
    </div>

</div>