<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<div class="navbar">
    <h2>♻ Waste Sorter</h2>
    <div>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>

<div class="main">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h3>Menu</h3>
        <a href="/dashboard"><i class="fas fa-home"></i> Dashboard</a>
        <a href="/about"><i class="fas fa-info-circle"></i> About</a>
        <h2><i class="fas fa-phone"></i> Contact Us</h2>
    </div>

    <!-- CONTENT -->
    <div class="content">

    <!-- DASHBOARD CARDS -->
    <div class="cards">

        <div class="card small">
            <h3><i class="fas fa-trash"></i> Total Scans</h3>
            <p>12</p>
        </div>

        <div class="card small">
            <h3><i class="fas fa-recycle"></i> Last Result</h3>
            <p>{{ prediction if prediction else "None" }}</p>
        </div>

        <div class="card small">
            <h3><i class="fas fa-chart-line"></i> Accuracy</h3>
            <p>63%</p>
        </div>

    </div>

    <!-- MAIN DETECTION CARD -->
    <div class="card main-card">
        <h2><i class="fas fa-camera"></i> Detect Waste</h2>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">
                <i class="fas fa-search"></i> Detect Waste
            </button>
        </form>

        {% if image_path %}
            <img src="{{ image_path }}" width="200">
        {% endif %}

        {% if prediction %}
            <h3>Result: {{ prediction }}</h3>
            <p>Confidence: {{ confidence }}%</p>
        {% endif %}
    </div>

</div>