<!DOCTYPE html>
<html>
<head>
    <title>Home - Waste System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>♻ Smart Waste System</h2>
    <a href="/dashboard">Dashboard</a>
</div>

<div class="home-hero">
    <div class="bin">♻</div>

    <h1>Sort Today, Sustain Tomorrow</h1>
    <p>Smart waste classification for a cleaner future.</p>

    <a href="/dashboard" class="btn">Start Detecting</a>
</div>

</body>
</html>