<!DOCTYPE html>
<html>
<head>
    <title>Smart Waste System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="navbar">
    <h2>♻ Smart Waste System</h2>
    <div>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>

<div class="hero">
    <div class="hero-content">
        <h1>Smart Waste Management</h1>
        <p>Classify, recycle, and schedule waste pickup easily.</p>
        <a href="/login"><button>Get Started</button></a>
    </div>

    <div class="hero-image">
        <img src="https://cdn-icons-png.flaticon.com/512/1046/1046784.png">
    </div>
</div>

</body>
</html>