<!DOCTYPE html>
<html>
<head>
    <title>Schedule Pickup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>♻️ Waste Sorting System</h2>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/pickup">Pickup</a>
        <a href="/">Logout</a>
    </div>
</div>

<div class="container">
    <h2>Schedule Waste Pickup</h2>

    <form method="POST">

        <input type="text" name="waste_type" placeholder="Waste Type (Plastic, Metal...)" required>

        <input type="date" name="date" required>

        <input type="time" name="time" required>

        <input type="text" name="address" placeholder="Pickup Address" required>

        <button type="submit">Schedule Pickup</button>

    </form>
</div>

</body>
</html>